#filter-wrapper .mix {
    display: none;
}

.publication-filter .mix {
    display: none;
}

ul.publication_gallery_wrapper {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}

ul.publication_gallery_wrapper li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 47.5%; /* this value + 2.5 should = 50% */
}

ul.publication_gallery_wrapper li img {
	max-width: 100%;
	height: auto;
	margin: auto;
}
ul.publication_gallery_wrapper li h3 {
	margin: 0 0 5px;
}
ul.publication_gallery_wrapper li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.publication_gallery_wrapper .columns-2 {
}

