// Button Style

button, .button {
//	border-style: solid;
//	border-width: 1px;
	background-color: $grayLighter;
	*border: 0;
	border: none;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	line-height: normal;
	margin: 15px 0 15px;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 10px 25px 11px;
	font-size: 14px;
//	border-color: #2284a1;
	color: $grayDark; 
}
  	button:hover, button:focus, .button:hover, .button:focus {
    	background-color: darken($grayLighter, 5%); }
	button:hover, button:focus, .button:hover, .button:focus {
		text-decoration: none; }
		
// Orange Button (Default)
button.button-primary, .button.button-primary {
	background-color: $linkColor;
	color: $white;
}
button.button-primary:hover, button.button-primary:focus, .button.button-primary:hover, .button.button-primary:focus {
    background-color: $linkColorHover; 
    color: $white;
}

// Green Button 
button.button-green, .button.button-green {
	background-color: $green;
	color: $white;
}
button.button-green:hover, button.button-green:focus, .button.button-green:hover, .button.button-green:focus {
    background-color: darken($green, 5%); 
    color: $white;
}

button.button-small, .button.button-small {
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 13px;
}

button.button-large, .button.button-large {
	font-size: 18px;
    padding-top: 11px;
    padding-bottom: 10px;
}

.button-block {
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

input[type="submit"].button-block,
input[type="reset"].button-block,
input[type="button"].button-block {
  width: 100%;
}

button.close, .button.close {
	width: 25px;
	height: 25px;
	padding: 2px 0 5px;
//	display: block;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	color: $grayLight;
	border: solid 2px $grayLight;
	font-size: 14px;
//	margin: 0 auto;
	line-height: 0;
}
