// Table 

table {
  width: 100%;
  background-color: $tableBackground;
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    display: table-cell;
    line-height: 1.125em;
}

table td, table th {
    padding: 0 10px 15px;
    text-align: left;
}

.shop-cart {
	margin-bottom: 25px;
	td, th {
		padding: 0;
	}
}

.title-cart {
	text-transform: uppercase;
	font-size: 11px;
	border-bottom: solid 2px #ddd;
	height: 30px;
}

.list-cart {
	border-bottom: solid 1px #ddd;
	height: 130px;
	.remove-item {
		width: 53px;
		padding-left: 10px;
		padding-right: 30px;
	}
	.thumb-item {
		width: 100px;
		img {
			width: 100%;
		}
	}
	.name-item {
		width: 35%;
		padding: 0 20px;
		h3 {
			font-weight: normal;
			margin: 0;
		}
	}
	.quantity-item {
		padding-top: 15px;
		width: 16.66667%;
	}
}

.cart-total {
	tr, td {
		padding: 0;
	}
}

.title-total {
	padding: 10px 0;
	height: 40px;
	border-bottom: solid 1px #ddd;
}

.ship-total {
	tr {
		height: 30px;
	}
}

tr.order-total {
	font-size: 18px;
	font-weight: bold;
	height: 60px;
	border-top: solid 1px #ddd;
}