/**
	Title	: INDECON 
	URL	: www.indecon.co.id
	Author	: Pildasi Batubara
	Date	: February (c) 2014 
	
	Handcrafted with Love inspired by simplicity, music, and people arround Me.
	Twitter: @pildasi 
	Website: http://pildasi.com 
	Email: hello@pildasi.com 
	;}

**/

// Import Components
@import
  "components/variables",
  "components/mixins",
  "components/scaffolding",
  "components/grid",
  "components/type",
  "components/icon",
  "components/dropdown",
  "components/button",
  "components/form",
  "components/header",
  "components/nav",
  "components/layout",
  "components/carousel",
  "components/table",
  "components/breadcrumbs",
  "components/footer",
  "components/utilities";
  
  
// Responsive 
@media only screen and (max-width:910px) {
	.head-top {
		padding-bottom: 10px;
		.elang, .socmed {
			padding-top: 70px;
		}
		.tagline {
			display: none;
		}
	}
	.navtop-collapse.collapse {
		height: 0;
		overflow: hidden;
	}
	.navtop-collapse {
		.navtop {
			float: none;
			> li {
				float: none;
				margin-right: 0;
			}
			.dropdown-menu {
				float: none;
				position: static;
				max-width: none;
				> li {
					> a {
						padding: 10px 40px;
					}
				}
			}
			.open .dropdown-menu {
				display: block;
				> li {
					float: none;
				}
			}
		}
	}
	.navtop-toggle {
		display: block;
		left: 15px;
	}
	.navbar .search {
		position: absolute;
		top: 0;
		> .dropdown-toggle {
			position: absolute;
			right: 0;
			top: 6px;
			z-index: 1001;
			> .icon-search {
				color: $grayLight;
			}
		}
		> .dropdown-menu {
			display: block;
			right: 0;
			margin-top: 8px;
			&:before {
				display: none;
			}
		}
	}
}

@media only screen and (max-width:678px) {
	.offset-grid-0, .offset-grid-1, .offset-grid-2, .offset-grid-3, .offset-grid-4, .offset-grid-5, .offset-grid-6,
	.offset-grid-7, .offset-grid-8, .offset-grid-9, .offset-grid-10, .offset-grid-11 {margin-left: 0%; }
	.column {
		width: 100%;
	}
	.post-content {
		&:after { 
			display: none;
		}
	}
	.sidebar {
		padding-left: 15px;
	}
	.thumb-network {
		text-align: center;
		.title .small {
			float: none;
			display: block;
		}
	}
	.footer {
		text-align: center;
		.nav-bottom > li {
			float: none;
		}
		.socmed, .sub-foot {
			text-align: center;
		}
	}
}

@media only screen and (max-width:400px) {
	.head-top {
		.elang, .socmed {
			text-align: center;
			float: none;
			display: block;
		}
		.elang {
			padding-top: 90px;
			padding-left: 30px;
		}
		.socmed {
			padding-top: 20px;
		}
		.logo {
			width: 320px;
			top: 10px;
		}
	}
	.navbar .search {
		input[type="text"],input[type="search"] {
			width: 180px;
		}
	}
	.thumb-slide {
		float: none;
//		display: block;
		width: 100%;
	}
	#slider .caption {
		float: none;
		width: 100%;
	}
	a.control_prev, a.control_next {
		font-size: 12px;
	}
	a.control_prev {
		right: 55px;
	}
}