.nav {
	margin-left: 0;
	margin-bottom: $baseLineHeight;
	list-style: none;
}

.nav-page {
	@include clearfix();
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
	border-bottom: solid 1px #ddd;
	padding-bottom: 14px;
	> li {
		float: left;
		> a {
			padding: 0 10px;
			margin: 0 20px;
			color: #7f7f7f;
			position: relative;
			&:hover {
				color: $grayDarker;
			}
		}
		&:before {
			content: "\0399";
			font-weight: normal;
			color: #ddd;
		}
		&:first-child {
			&:before {
				content: "";
			}
		}
	}
	.active {
		color: $black;
		a {
			color: $black;
			&:hover {
				color: $black;
			}
			&:before, &:after {
				content: "";
			    height: 0;
				width: 0;
			    left: 0;
			    margin: auto;
			    pointer-events: none;
			    position: absolute;
			    right: 0;
			}
			&:before {
				border-left: 6px solid rgba(0, 0, 0, 0);
				border-right: 6px solid rgba(0, 0, 0, 0);
				border-bottom: 6px solid #ddd;
				bottom: -18px;
			}
			&:after {
				border-left: 5px solid rgba(0, 0, 0, 0);
				border-right: 5px solid rgba(0, 0, 0, 0);
    			border-bottom: 5px solid #FFFFFF;
    			bottom: -19px;
			}
		}
	}
}

.nav-footer {
//	float: left;
	text-transform: uppercase;
	font-weight: 500;
	display: block;
	@include clearfix();
	> li {
		float: left;
		margin-left: 30px;
		&:first-child {
			margin-left: 0;
		}
		> a {
			color: #333;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}