.footer {
	background-color: $green;
	margin-top: 100px;
	padding: 40px 0 20px;
	color: $white;
	.socmed {
		padding-top: 0;
		a {
			color: $white;
			&:hover {
				text-decoration: none;
			}
		}
	}
	a {
		color: $white;
	}
	input[type="text"] {
		padding: 7px 6px 8px;
		border: 0;
	}
	.nav-bottom {
		@include clearfix();
		list-style: none;
		margin-bottom: 22px;
		margin-left: 0;
		a {
				margin-left: 10px;
				margin-right: 10px;
			}
			&:before {
				color: #DDDDDD;
				content: "I";
			}
			&:first-child {
				&:before {
					content: "";
				}
				a {
					margin-left: 0;
				}
			}
		/*> li {
			float: left;
			a {
				margin-left: 10px;
				margin-right: 10px;
			}
			&:before {
				color: #DDDDDD;
				content: "I";
			}
			&:first-child {
				&:before {
					content: "";
				}
				a {
					margin-left: 0;
				}
			}
		}*/
	}
	p {
		opacity: 0.5;
	}
	.socmed, .sub-foot {
		text-align: right;
	}
}