[class^="icon-"], [class*=" icon-"] {
	font-family: 'icon-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-email:before {
	content: "\e606";
}
.icon-rss:before {
	content: "\e607";
}
.icon-pinterest:before {
	content: "\e602";
}
.icon-shopcart:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e608";
}

[class^="iflag-"],
[class*=" iflag-"] {
  display: inline-block;
  width: 22px;
  height: 16px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/icon-flag.png");
  background-repeat: no-repeat;
  margin-top: 1px; }

.iflag-ind {
  background-position: 0 0; }

.iflag-eng {
  background-position: -22px 0; }
