#filter-wrapper .mix {
    display: none;
}

.publication-filter .mix {
    display: none;
}

ul.publication_gallery_wrapper {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}

ul.publication_gallery_wrapper li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 47.5%; /* this value + 2.5 should = 50% */
}

ul.publication_gallery_wrapper li img {
	max-width: 100%;
	height: auto;
	margin: auto;
}
ul.publication_gallery_wrapper li h3 {
	margin: 0 0 5px;
}
ul.publication_gallery_wrapper li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.publication_gallery_wrapper .columns-2 {
}

.edit-profile-button {
	position: absolute;
	right: 10px;
	top: 30px;
}

.edit-profile-button a {
	padding: 5px 20px;
	background: #f9770d;
	color: #fff;
}

.pagination {
	list-style: none;
	margin: 0;
	clear: both;
}

.pagination li {
	display: inline-block;
}

.pagination li.disabled {
	display: none;
}
.pagination li a {
	padding: 10px 15px;
	margin-right: 5px;
	background: #f0f0f0;
	text-decoration: none;
}

.name-team h4 {
  font-size: 14px;
}

.name-team p {
 line-height: 14px;
}

textarea.wpcf7-form-control.wpcf7-textarea {
width:100% !important;
}