/*@font-face {
	font-family: 'PTS Regular';
	src:url('../fonts/PTS-Regular.eot');
	src:url('../fonts/PTS-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PTS-Regular.woff') format('woff'),
		url('../fonts/PTS-Regular.ttf') format('truetype'),
		url('../fonts/PTS-Regular.svg#PTS-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}*/

@font-face {
	font-family: 'icon-font';
	src:url('../fonts/icon-font.eot');
	src:url('../fonts/icon-font.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icon-font.woff') format('woff'),
		url('../fonts/icon-font.ttf') format('truetype'),
		url('../fonts/icon-font.svg#icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}
