// Form element 
form {
    margin: 0 0 $baseLineHeight;
}

fieldset.no-space {
	border: none;
	padding: 0;
	margin: 0;
} 

label {
	color: #4D4D4D;
    cursor: pointer;
    display: block;
//    font-size: 0.875em;
//    font-weight: 500;
    margin-bottom: 0.1875em;
}

/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  	-webkit-appearance: none;
  	-webkit-border-radius: 0;
  	border-radius: 0;
  	background-color: white;
  	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	border: 1px solid #cccccc;
  	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  	color: rgba(0, 0, 0, 0.75);
//  display: block;
	display: inline-block;
	*display: inline;
  /* IE7 inline-block hack */
  	*zoom: 1;
  	font-size: 13px;
  	margin: 0 0 1em 0;
  	padding: 7px 6px 8px 6px;
//  	height: 2.3125em;
//  width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out; 
}
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
//    -webkit-box-shadow: 0 0 5px #999999;
//    -moz-box-shadow: 0 0 5px #999999;
//    box-shadow: 0 0 5px #999999;
    border-color: #999999; 
	}
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    background: #fafafa;
//    border-color: #999999;
    outline: none; }
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[type="date"][disabled],
  input[type="datetime"][disabled],
  input[type="datetime-local"][disabled],
  input[type="month"][disabled],
  input[type="week"][disabled],
  input[type="email"][disabled],
  input[type="number"][disabled],
  input[type="search"][disabled],
  input[type="tel"][disabled],
  input[type="time"][disabled],
  input[type="url"][disabled],
  textarea[disabled] {
    background-color: #dddddd; }


// Class .clean no inside shadow 
input[type="text"].clean,
input[type="password"].clean,
input[type="date"].clean,
input[type="datetime"].clean,
input[type="datetime-local"].clean,
input[type="month"].clean,
input[type="week"].clean,
input[type="email"].clean,
input[type="number"].clean,
input[type="search"].clean,
input[type="tel"].clean,
input[type="time"].clean,
input[type="url"].clean,
textarea.clean {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input[type="text"].input-block,
input[type="password"].input-block,
input[type="date"].input-block,
input[type="datetime"].input-block,
input[type="datetime-local"].input-block,
input[type="month"].input-block,
input[type="week"].input-block,
input[type="email"].input-block,
input[type="number"].input-block,
input[type="search"].input-block,
input[type="tel"].input-block,
input[type="time"].input-block,
input[type="url"].input-block,
textarea.input-block {
	display: block;
	width: 100%;
}

// Custom Dropdown 
form.custom .hidden-field {
  margin-left: -99999px;
  position: absolute;
  visibility: hidden; }
form.custom .custom {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: -1px;
  /* fix centering issue */
  vertical-align: middle;
  border: solid 1px #cccccc;
  background: white; }
  
/* Custom Select Options and Dropdowns */
form.custom {
  /* Custom input, disabled */ }
  form.custom .custom.dropdown {
    display: block;
    position: relative;
    top: 0;
    height: 32px;
    margin-bottom: 1.25em;
    margin-top: 0;
    padding: 0;
    width: 100%;
    background: white;
//    background: -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
//    background: -webkit-linear-gradient(top, white 0%, #f3f3f3 100%);
    -webkit-box-shadow: none;
//    background: linear-gradient(to bottom, white 0%, #f3f3f3 100%);
    box-shadow: none;
    font-size: 13px;
    vertical-align: top; }
    form.custom .custom.dropdown ul {
      overflow-y: auto;
      max-height: 200px; }
    form.custom .custom.dropdown .current {
      cursor: default;
      white-space: nowrap;
      line-height: 2.25em;
      color: rgba(0, 0, 0, 0.75);
      text-decoration: none;
      overflow: hidden;
      display: block;
      margin-left: 0.5em;
      margin-right: 2.3125em; }
    form.custom .custom.dropdown .selector {
      cursor: default;
      position: absolute;
      width: 2.5em;
      height: 2.3125em;
      display: block;
      right: 0;
      top: 0; }
      form.custom .custom.dropdown .selector:after {
        content: "";
        display: block;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: #aaaaaa transparent transparent transparent;
        border-top-style: solid;
        position: absolute;
        left: 0.9375em;
        top: 50%;
        margin-top: -3px; }
    form.custom .custom.dropdown:hover a.selector:after, form.custom .custom.dropdown.open a.selector:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: #222222 transparent transparent transparent;
      border-top-style: solid; }
    form.custom .custom.dropdown .disabled {
      color: #888888; }
      form.custom .custom.dropdown .disabled:hover {
        background: transparent;
        color: #888888; }
        form.custom .custom.dropdown .disabled:hover:after {
          display: none; }
    form.custom .custom.dropdown.open ul {
      display: block;
      z-index: 10;
      min-width: 100%;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box; }
    form.custom .custom.dropdown.small {
      max-width: 134px; }
    form.custom .custom.dropdown.medium {
      max-width: 254px; }
    form.custom .custom.dropdown.large {
      max-width: 434px; }
    form.custom .custom.dropdown.expand {
      width: 100% !important; }
    form.custom .custom.dropdown.open.small ul {
      min-width: 134px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    form.custom .custom.dropdown.open.medium ul {
      min-width: 254px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    form.custom .custom.dropdown.open.large ul {
      min-width: 434px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  form.custom .error .custom.dropdown {
    border-color: #c60f13;
    background-color: rgba(198, 15, 19, 0.1);
    background: rgba(198, 15, 19, 0.1);
    margin-bottom: 0; }
    form.custom .error .custom.dropdown:focus {
      background: #fafafa;
      border-color: #999999; }
  form.custom .error .custom.dropdown + small.error {
    margin-top: 0; }
  form.custom .custom.dropdown ul {
    position: absolute;
    width: auto;
    display: none;
    margin: 0;
    left: -1px;
    top: auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    background: white;
    border: solid 1px #cccccc;
    font-size: 16px; }
    form.custom .custom.dropdown ul li {
      color: #555555;
      font-size: 13px;
      cursor: default;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      padding-left: 0.375em;
      padding-right: 2.375em;
      min-height: 1.5em;
      line-height: 1.5em;
      margin: 0;
      white-space: nowrap;
      list-style: none; }
      form.custom .custom.dropdown ul li.selected {
        background: #eeeeee;
        color: black; }
      form.custom .custom.dropdown ul li:hover {
        background-color: #e4e4e4;
        color: black; }
      form.custom .custom.dropdown ul li.selected:hover {
        background: #eeeeee;
        cursor: default;
        color: black; }
    form.custom .custom.dropdown ul.show {
      display: block; }
  form.custom .custom.disabled {
    background: #dddddd; }

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
//  vertical-align: middle;
	height: 37px;
	margin-bottom: 0;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
  margin-top: 3px;
}

input[type="text"].input-error,
input[type="password"].input-error,
input[type="date"].input-error,
input[type="datetime"].input-error,
input[type="datetime-local"].input-error,
input[type="month"].input-error,
input[type="week"].input-error,
input[type="email"].input-error,
input[type="number"].input-error,
input[type="search"].input-error,
input[type="tel"].input-error,
input[type="time"].input-error,
input[type="url"].input-error,
textarea.input-error {
	border: solid 1px $red;
}