// Grid Custom inspiration from Foundation 

.row {
	max-width: 1000px; // 71.429em basefont size 14px
	width: 100%;
//	min-width: 768px;
	margin-left: auto;
	margin-right: auto;
	@include clearfix();
	.row {
		margin-left: -15px;
		margin-right: -15px;
		max-width: none;
		width: auto;
		min-width: 0;
	}
}

.column {
	float: left; 
	min-height: 1px; 
	padding-left: 15px;
	padding-right: 15px;
}

.column, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .offset-grid-1, .offset-grid-2, .offset-grid-3, .offset-grid-4, .offset-grid-5, .offset-grid-6, .offset-grid-7, .offset-grid-8, .offset-grid-9, .offset-grid-10, .offset-grid-11, .offset-grid-12 {
	position: relative;
}

// General Grid
.grid-1 {width: 8.33333%; }
.grid-2, .grid-2-small {width: 16.66667%; }
.grid-3, .grid-3-small {width: 25%; }
.grid-4 {width: 33.33333%; }
.grid-5 {width: 41.66667%; }
.grid-6 {width: 50%; }
.grid-7 {width: 58.33333%; }
.grid-8 {width: 66.66667%; }
.grid-9 {width: 75%; }
.grid-10 {width: 83.33333%; }
.grid-11 {width: 91.66667%; }
.grid-12 {width: 100%; }

.grid-2-small, .grid-3-small {
	float: left; 
	min-height: 1px; 
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

// Offset Grid
.offset-grid-0 {margin-left: 0%; }
.offset-grid-1 {margin-left: 8.33333%; }
.offset-grid-2 {margin-left: 16.66667%; }
.offset-grid-3 {margin-left: 25%; }
.offset-grid-4 {margin-left: 33.33333%; }
.offset-grid-5 {margin-left: 41.66667%; }
.offset-grid-6 {margin-left: 50%; }
.offset-grid-7 {margin-left: 58.33333%; }
.offset-grid-8 {margin-left: 66.66667%; }
.offset-grid-9 {margin-left: 75%; }
.offset-grid-10 {margin-left: 83.33333%; }
.offset-grid-11 {margin-left: 91.66667%; }

// Test Grid Use Color Background
.bg-block {background-color: #9bd4eb;}