.read-more {
	width: 90px;
	display: block;
	text-transform: uppercase;
	font-weight: 700;
	margin-top: $baseLineHeight;
	color: $green;
	&:hover {
		color: darken($green, 5%);
	}
}

.link-green {
	color: $green;
	&:hover {
		color: darken($green, 5%);
	}
}

.box {
	padding: 20px;
}

.box-green {
	background-color: $green;
	color: $white;
}

.box-grey {
	background-color: #f4f4f4;
}

// ------------------------ SECTION WRAPER -------------------------
.section {
	padding: 50px 0;
}
.section-fixcenter {
	max-width: 333px;
	width: 100%;
	@include container-fixed();
}
// Section color background 
.section-pastle {
	background-color: $pastle;
}
// Section Partner 
.section-partner {
	img {
		margin: 25px;
	}
}
.distance {
	padding-bottom: 30px;
}
.thumb-network {
	border: solid 1px #ccc;
	margin-bottom: 30px;
	.title {
		padding: 0 10px;
		.small {
			float: right;
			color: $grayLight;
			font-size: 12px;
			font-weight: 400;
		}
	}
	.address {
		font-size: 14px;
		line-height: 20px;
		padding: 15px 15px 0;
	}
}
.thumb-team {
	margin-bottom: 30px;
}

// Title center paragraph
.title-center {
	margin-top: 55px;
	border-top: solid 1px #ccc;
	color: $grayLight;
	h4 {
		display: block;
		width: 136px;
		margin-top: -10px;
		margin-left: auto;
		margin-right: auto;
		background-color: $white;
	}
}

// Custom type
.title {
	a {
		color: inherit;
	}
}
.title-gray {
	color: $grayLight;
	.link-orange {
		font-size: 12px;
		color: $orange;
	}
}
.title-post.title-gray {
	border-bottom: solid 2px #ccc;
}
.list-post {
	li {
		margin-bottom: 10px;
	}
	a {
		color: $grayDark;
	}
	.muted {
		font-weight: 400;
	}
}
// Post Content or Single Page left side
.post-content {
	min-height: 500px;
	p {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
	}
	.date {
		font-size: 13px;
	}
	&:after {
		content: "";
		top: 0;
		bottom: 0;
		right: -15px;
		position: absolute;
		border-left: solid 1px $grayLighter;
	}
}
.wp-caption {
	img {
		margin-bottom: 10px;
	}
	.caption {
		font-style: italic;
		font-size: 13px;
		color: $gray;
	}
}

/* Video Responsive */
figure { display: block;}
video {
  width: 100%    !important;
  height: auto   !important;
}

// Gallery thumbnail 
.gallery {
	.column {
		margin-bottom: 30px;
	}
}

// Content 
.content {
	margin-top: 40px;
	padding-bottom: 40px;
	min-height: 500px;
}

.sidebar {
	padding-left: 45px;
}

// Slider Custom 
#slider {
  position: relative;
//  overflow: hidden;
	overflow: auto;
//  border-radius: 4px;
  margin-top: 10px;
  width: 100%;
  max-width: 634px;
  clear: both;
  .caption {
//	  padding-left: 37%;
//	  max-width: 632px;
	  width: 62%;
	  float: left;
  }
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
//  height: 200px;
  list-style: none;
}

#slider ul li {
//  position: relative;
  display: block;
  float: left;
//  margin: 0;
//  padding: 0;
//  width: 33%;
//  max-width: 637px;
//  height: 300px;
//  background: #ccc;
//  text-align: center;
//  line-height: 300px;
}

.thumb-slide {
	width: 38%;
//	max-width: 219px;
	padding-right: 20px;
	float: left;
//	position: absolute;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 12px;
  display: block;
  width: auto;
  height: auto;
  color: $grayDark;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.5;
  cursor: pointer;
  right: 15px;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  right: 70px;
}

// List line 
.list-line {
	margin-left: 0;
	list-style: none;
	li {
		padding: 20px 0 20px 15px;
		border-bottom: solid 1px $grayLighter;
		position: relative;
		&:before {
			content: "•";
			position: absolute;
			left: 0;
//			font-size: 18px;
		}
	}
}

// Tabs 
.nav-tabs,
.nav-pills {
  @include clearfix();
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
//  margin-right: 2px;
  line-height: 14px; // keeps the overall height an even number
}

// TABS
// ----

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid $gray;
}
// Make the list-items overlay the bottom border
.nav-tabs > li {
  margin-bottom: -1px;
}
// Actual tabs (as links)
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: $baseLineHeight;
  border: 1px solid $gray;
  @include border-radius(4px 4px 0 0);
  display: block;
  color: $gray;
  &:hover,
  &:focus {
  	background-color: $grayLighter;
    border-color: $gray;
    text-decoration: none;
  }
}
// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: $white;
  background-color: $gray;
  border: 1px solid $gray;
  border-bottom-color: transparent;
  cursor: default;
}
.tab-content {
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}
