//
// Carousel
// --------------------------------------------------


.carousel {
  position: relative;
//  margin-bottom: $baseLineHeight;
  .row {
	  position: relative;
	  z-index: 9;
  }
}

.carousel-inner {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-inner {

  > .item {
    display: none;
    position: relative;
    @include transition(.6s ease-in-out left);

  // Account for jankitude on images
    > img,
    > a > img {
      display: block;
      line-height: 1;
    }
  }

  > .active,
  > .next,
  > .prev { display: block; }

  > .active {
    left: 0;
  }

  > .next,
  > .prev {
    position: absolute;
    top: 0;
    width: 100%;
  }

  > .next {
    left: 100%;
  }
  > .prev {
    left: -100%;
  }
  > .next.left,
  > .prev.right {
    left: 0;
  }

  > .active.left {
    left: -100%;
  }
  > .active.right {
    left: 100%;
  }

}

// Left/right controls for nav
// ---------------------------

.carousel-control {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 80px;
  margin-top: 0;
  font-size: 140px;
  font-weight: 100;
  line-height: 30px;
  color: $white;
  text-align: center;
  margin-top: 0;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      z-index: 9;
  @include opacity(50);

  // we can't have this transition here
  // because webkit cancels the carousel
  // animation if you trip this while
  // in the middle of another animation
  // ;_;
  // .transition(opacity .2s linear);

  // Reposition the right one
  &.right {
    left: auto;
    right: 15px;
  }

  // Hover/focus state
  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    @include opacity(90);
  }
}

// Carousel indicator pips
// -----------------------------
.carousel-indicators {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20px;
  z-index: 10;
  margin: 0 auto;
  width: 90px;
  list-style: none;

  li {
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    text-indent: -999px;
    background-color: #ccc;
    background-color: rgba(255,255,255,.25);
    border-radius: 5px;
    cursor: pointer;
  }
  .active {
    background-color: $orange;
    cursor: default;
  }
}

// Caption for text below images
// -----------------------------

.carousel-caption {
	width: 100%;
	max-width: 415px;
	color: $white;
	position: static;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 15px;
    margin-top: 462px;
    h3 {
    	background-color: rgba(250,133,38,0.75);
    	padding: 7px 20px;
    	line-height: 1.2;
	    width: 100%;
	    margin: 0;
    }
    p {
    	background-color: rgba(255,255,255,0.75);
    	padding: 7px 20px;
    	color: $grayDark;
	    width: 83.33333%;
	    a {
		    font-weight: 400;
	    }
    }
    a {
		    color: inherit;
		    text-decoration: none;
	    }
}

    .carousel .item {
      height: 650px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
//      min-width: 100%;
//      height: 650px;
    }