//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
//  padding: 8px 15px;
  margin: 0 0 $baseLineHeight;
  list-style: none;
  color: $grayLight;
//  background-color: #f5f5f5;
  @include border-radius($baseBorderRadius);
  > li {
    display: inline-block;
    @include ie7-inline-block();
    text-shadow: 0 1px 0 $white;
    > .divider {
      padding: 0 5px;
      color: #ccc;
    }
    a {
	    color: $grayLight;
	    &:hover {
		    color: $grayDark;
	    }
    }
    &:after {
	    content: "/";
	    margin-left: 7px;
	    margin-right: 4px;
    }
    &:last-child {
	    &:after {
		    content: "";
	    }
    }
  }
  .active {
    color: $grayDark;
  }
}
