// Header Component

.header {
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	position: relative;
}

body.home {
	.header {
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		position: absolute;
	}
}

.head-top {
	@include clearfix();
//	height: 97px;
	padding-bottom: 30px;
	.logo {
		width: 380px;
		margin: 0 auto;
		left: 0;
		right: 0;
		text-align: center;
		padding-top: 10px;
		position: absolute;
		.tagline {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 12px;
			font-weight: bold;
			opacity: 0.5;
		}
	}
	.socmed {
		float: right;
	}
}

.elang {
	float: left;
	padding-top: 47px;
	a {
//		color: lighten($grayDark, 35%);
		color: $grayDark;
		opacity: 0.65;
		margin-right: 20px;
		&:hover {
//			color: $grayDark;
			opacity: 1;
			text-decoration: none;
		}
	}
	.active {
		opacity: 1;
	}
}

.socmed {
	font-size: 19px;
	opacity: 1;
	padding-top: 47px;
	a {
		color: $grayDark;
		margin-left: 10px;
		opacity: 0.65;
		&:hover {
			opacity: 1;
			text-decoration: none;
		}	
	}
}

.navbar {
	background: #5a8b1b; /* Old browsers */
	background: -moz-linear-gradient(top,  #5a8b1b 0%, #4d7717 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a8b1b), color-stop(100%,#4d7717)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5a8b1b 0%,#4d7717 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5a8b1b 0%,#4d7717 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5a8b1b 0%,#4d7717 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5a8b1b 0%,#4d7717 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a8b1b', endColorstr='#4d7717',GradientType=0 ); /* IE6-9 */
	@include clearfix();
	display: block;
	color: $white;
	position: relative;
	.search {
		float: right;
		right: 15px;
		top: 15px;
		position: relative;
		a:hover {
			text-decoration: none;
		}
		.dropdown-toggle {
			padding: 10px;
		}
		.icon-search {
			color: $white;
			font-size: 18px;
		}
		.dropdown-menu {
			background: none;
			box-shadow: none;
			border: 0;
			padding: 0;
			right: -15px;
			margin-top: 15px;
			&:before {
				border-bottom: 7px solid rgba(255,255,255, 1);
				border-left: 7px solid rgba(255,255,255, 0);
				border-right: 7px solid rgba(255,255,255, 0);
				content: "";
				display: block;
				right: 27px;
				position: absolute;
				top: -6px;
			}
		}
		input[type="text"], input[type="search"] {
			width: 230px;
			margin-bottom: 0;
//			padding-left: 10px;
//			padding-right: 10px;
			padding: 8px 10px;
		}
	}
}
.navtop-toggle {
	display: none;
	padding: 0;
	.icon-menu {
		font-size: 20px;
		vertical-align: bottom;
	}
}

.navtop-collapse {
	clear: both;
	z-index: 10;
}

.navtop-collapse.collapse {
	height: auto;
	overflow: visible;
}

.navtop {
	display: block;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	float: left;
	> li {
		float: left;
		margin-right: 2px;
		> a {
			color: $white;
			display: block;
			padding: 16px 25px 16px;
			position: relative;
			&:hover {
				background-color: #497411;
				text-decoration: none;
			}
			.caret {
				border-top: 4px solid $white;
			}
		}
	}
	
	> .active {
		a {
			color: $orange;
			background-color: $pastle;
			&:after {
				content: "";
				background-color: $orange;
				height: 3px;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
			}
			&:hover {
				background-color: $pastle;
				color: $orange;
			}
		}	
	}
	.dropdown-menu {
		background-color: $green;
		margin-top: 0;
		border-radius: 0;
		color: $white;
		box-shadow: none;
		border: none;
		text-transform: none;
		padding: 0;
		> li {
			border-bottom: solid 1px #497411;
			> a {
				font-weight: 700;
				color: $white;
				padding: 8px 75px 8px 25px;
				&:hover, &:focus {
					background: #497411;
				}
			}
		}
	}
	> .dropdown.open > a {
		background-color: #497411;
	}
}